

<div class="container">
  <div class="row justify-content-center my-3">
    <h1>Ask coach...</h1>
  </div>
  <div class="row justify-content-center">
    <form action="/answer">
    <input type="text" class="form-control" name="question">
    <input type="submit" class="form-control btn-primary" value="Ask!">
    </form>
  </div>
</div>

